<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="/static/favicon.0903abaa.ico"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sensa Makara | Gemastik IOT</title>
    <script type="module" crossorigin src="/static/index.cce16f23.js"></script>
    <link rel="stylesheet" href="/static/index.230fa24d.css" />
  </head>
  <body>
    <div class="loader">
      <img
        src="/static/makara.png"
        alt="Makara Universitas Indonesia"
        width="150px"
      />
    </div>

    <div class="content">
      <h1 id="m-input"></h1>
      <h1 id="m-output"></h1>
      <input class="t-input" type="text" />
      <div id="char"></div>
      <ul class="suggestions"></ul>
    </div>

    <footer>Made by Sensa Makara team at Universitas Indonesia</footer>

    <script defer>
      const f = document.getElementById("morse");
      const m = document.getElementById("m-input");
      const c = document.getElementById("char");
      const o = document.getElementById("m-output");
      const t = document.querySelector(".t-input");

      const morse = {
        ".-": "A",
        "-...": "B",
        "-.-.": "C",
        "-..": "D",
        ".": "E",
        "..-.": "F",
        "--.": "G",
        "....": "H",
        "..": "I",
        ".---": "J",
        "-.-": "K",
        ".-..": "L",
        "--": "M",
        "-.": "N",
        "---": "O",
        ".--.": "P",
        "--.-": "Q",
        ".-.": "R",
        "...": "S",
        "-": "T",
        "..-": "U",
        "...-": "V",
        ".--": "W",
        "-..-": "X",
        "-.--": "Y",
        "--..": "Z",
        "----": " ",
      };

      window.addEventListener("click", (e) => {
        if (e.button === 0) {
          if (morse[m.innerHTML]) {
            t.value += morse[m.innerHTML];
          }
          m.innerHTML = "";
          const ev = new Event("input");
          t.dispatchEvent(ev);
        }
      });
      window.addEventListener("keypress", (e) => {
        if (m.innerHTML.length > 0 && e.key === " ") {
          t.value = t.value.slice(0, m.innerHTML.length - 1);
        }
        if (m.innerHTML.length > 0 && e.key === "z") {
          c.value = c.value.slice(0, c.value.length - 1);
        }
      });

      // var p = document.querySelector("#text");

      let cur = "";
      (async () => {
        setInterval(async () => {
          const res = await fetch("{{ url_for('camera_feed') }}");
          const t = await res.text();
          // p.innerHTML = t;
          // console.log(t);
          cur = t;
        }, 100);
      })();

      (async () => {
        setInterval(() => {
          m.innerHTML += cur;
          if (morse[m.innerHTML]) {
            o.innerHTML = morse[m.innerHTML];
          } else {
            o.innerHTML = "<unknown>";
          }
          cur = "";
        }, 600);
      })();
    </script>
  </body>
</html>
